<!DOCTYPE html>
<html ng-app="faceCareer">
	<head lang="en">
		<meta charset="UTF-8">
		<title>FaceWorks</title>
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">

		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:css(.) styles/app.css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
		<link rel="stylesheet" href="assets/facecareer.css"/>
		<!-- endbuild -->
	</head>
	<body ng-controller="MainControl" ng-cloak>
		<!-- Header -->
		<div class="languages">
			<a class="english" ng-class="{'active' : activatedLanguage === 'en'}" ng-click="changeLanguage('en')">English</a>
			|
			<a class="vietnamese" ng-class="{'active': activatedLanguage === 'vi'}" ng-click="changeLanguage('vi')">Tiếng Việt</a>
		</div>
		<div class="container">
			<div class="text-center center-block">
				<div class="page-title-wrapper clearfix">
					<a href="#/">
						<img class="face-career-logo pull-left" src="assets/img/logo_face.png" alt=""/>
					</a>
					<div class="page-title pull-left">
						<h1 class="title">
							<a href="#/">
								<img class="logo-faceworks" src="assets/img/logo_faceworks.png" alt="faceworks"/>
							</a>
							<small>{{'WhichJobDoILook' | translate}}
								<a href="">#FaceWorks</a>
							</small>
						</h1>
					</div>
				</div>
				<!-- Facebook Share -->
				<div class="facebook-share">
					<div id="fb-root"></div>
					<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
				</div>
				<!--/ Facebook Share -->
			</div>
		</div>
		<!--/ Header -->
		<!-- Body -->
		<div class="view-container">
			<div class="container view-frame" data-ng-view></div>
		</div>
		<!--/ Body -->
		<!-- Footer -->
		<div class="container">
			<div class="terms text-center">
				<a ng-href="{{'PrivacyUrl' | translate}}" target="_blank">{{'Privacy' | translate}}</a>
				<span>|</span>
				<a ng-href="{{'TermsOfUseUrl' | translate}}" target="_blank">{{'TermsOfUse' | translate}}</a>
			</div>
			<div class="copyright text-center">
				<a href="http://www.vietnamworks.com" target="_blank">
					<img class="vietnamworks-logo " src="assets/img/vnw_logo.png" alt="VietnamWorks Logo"/>
				</a>
			</div>
		</div>
		<!--/ Footer -->

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-translate/angular-translate.js"></script>
		<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
		<script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/threejs/build/three.js"></script>
		<script src="bower_components/tracking.js/build/tracking.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<!-- endbower -->
		<!-- endbuild -->
		
		<!-- build:js(.) scripts/face.js -->
		<script src='bower_components/tracking.js/build/data/face-min.js'></script>
		<!-- endbuild -->

		<!-- build:js(.) scripts/app.js -->
		<script src='assets/js/app.js'></script>
		<script src='assets/js/controllers.js'></script>

		<script src="assets/js/controllers/HomeCtrl.js"></script>
		<script src="assets/js/controllers/ResultCtrl.js"></script>
		<script src="assets/js/fb.js"></script>
		<!-- endbuild -->
	</body>
</html>