.user-avatar {
	width: 200px;
	height: 200px;
	text-align: center;
} 

#avatar {
	width: 100%;
	height: 100%;
}

#avatar_img {
	border: 10px solid;
}

.avatar-loading-box {
	width: 100%;
	text-align: center;
}

.job {
	text-transform: uppercase;
	font-weight: bold;
    background-color: #e8f0f5;
    padding: 5px;
}

.job-inner {
    color: #1e8cbe;
    background-color: #e8f0f5;
    padding: 5px;
    border: 1px solid #1e8cbe;
    border-radius: 5px;
}